@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap');

:root {
    --border-light: #DFDFDF;
    /* White */
    --border-dark: #6f6f6f;
    /* Dark grey */
    --button-color: #d8d8d8;
    /* Black */
    --button-hover-color: #c0c0c0;
    /* Black */
}


* {
    box-sizing: border-box;
    /* Ensures padding and border are included in width */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* This will push the footer to the bottom */
    align-items: center;
    height: calc(var(--vh, 1vh) * 100);
    /* Replace 100vh with this */
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    overflow-x: hidden;
    background: url(bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.footer {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #969696;
    font-size: clamp(10px, 1.8vw, 12px);
}

.footer a {
    text-decoration: none;
    font-weight: 700;
    color: #969696;
}

.header {
    background: url('title.png') no-repeat center center;
    background-size: contain;
    height: 100px;
    /* Example height */
    width: 80%;
    /* Example width */
    margin: 0 auto;
    margin-top: 10px;
}


.cat-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 60%;
    border-radius: 2px;
}

.status-bar {
    display: flex;
    justify-content: space-between;
    /* Space between the text and buttons */
    align-items: center;
    /* Center items vertically */
    width: 100%;
    height: 30px;
    /* Or adjust as needed */
    background-image: linear-gradient(to right, #00F6EE 0%, #CAE8AE 18%, #FFB6B5 48%, #7B85EE 78%, #00FCF0 100%);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-left: 8px;
    padding-right: 4px;
}

.status-bar .cat-name {
    float: left;
    /* Text floats left */
    font-size: 18px;
    /* Adjust as needed */
    color: #000000;
    /* Text color */
}

.status-bar .button-container {
    display: flex;
    gap: 4px;
    /* Space between buttons */
}

.status-bar button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    /* Small square size */
    height: 24px;
    background-color: var(--button-color);
    /* Grey background */
    border-top: 2px solid var(--border-light);
    border-left: 2px solid var(--border-light);
    border-right: 2px solid var(--border-dark);
    border-bottom: 2px solid var(--border-dark);
    border-radius: 2px;
    /* Slightly rounded corners */
    cursor: pointer;
    padding: 0;
    color: #000000;
}

.status-bar button:active {
    border-top: 2px solid var(--border-dark);
    border-left: 2px solid var(--border-dark);
    border-right: 2px solid var(--border-light);
    border-bottom: 2px solid var(--border-light);
}

.status-bar button:hover {
    background-color: var(--button-hover-color);
    /* Slightly darker on hover */
}

#viewOrdiScan {
    background-image: url('ordiscan.png');
    /* Replace with your icon path */
    background-size: 16px 16px;
    /* Icon size */
    background-repeat: no-repeat;
    background-position: center;
}

#downloadCat {
    background-image: url('download.png');
    /* Replace with your icon path */
    background-size: 16px 16px;
    /* Icon size */
    background-repeat: no-repeat;
    background-position: center;
}

#showEvolutions {
    background-image: url('path/to/evolutions-icon.png');
    /* Replace with your icon path */
    background-size: 20px 20px;
    /* Icon size */
    background-repeat: no-repeat;
    background-position: center;
}

#wizmasButton {
    width: 80px;
}

/* Dropdown Container */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 2px;
}

/* Dropdown Items */
.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.image-container {
    width: 100%;
    background-color: #f9f9f9;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

#sharedCanvas {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 4px;
}

.cat-id-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
    background-image: linear-gradient(to right, #00F6EE 0%, #CAE8AE 18%, #FFB6B5 48%, #7B85EE 78%, #00FCF0 100%);
    padding: 4px;
    border-radius: 2px;
}

.cat-id-container input {
    margin-right: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
    border-top: 2px solid var(--border-dark);
    border-left: 2px solid var(--border-dark);
    border-right: 2px solid var(--border-light);
    border-bottom: 2px solid var(--border-light);
}

.cat-id-container button {
    padding: 7px 16px;
    font-size: 16px;
    border-radius: 2px;
    background-color: var(--button-color);
    color: #000;
    cursor: pointer;
    border-top: 2px solid var(--border-light);
    border-left: 2px solid var(--border-light);
    border-right: 2px solid var(--border-dark);
    border-bottom: 2px solid var(--border-dark);
}

.cat-id-container button:active {
    border-top: 2px solid var(--border-dark);
    border-left: 2px solid var(--border-dark);
    border-right: 2px solid var(--border-light);
    border-bottom: 2px solid var(--border-light);
}

.cat-id-container button:hover {
    background-color: var(--button-hover-color);
}


.layers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    width: 90%;
    max-width: 1000px;
    gap: 4px;
    padding: 4px;
    overflow-y: auto;
    /* Enable vertical scrolling */
    /* Ensure that the grid itself does not overflow horizontally */
    overflow-x: hidden;
    border-radius: 2px;
    background-image: linear-gradient(to bottom right, #00F6EE 0%, #CAE8AE 18%, #FFB6B5 48%, #7B85EE 78%, #00FCF0 100%);
}


.layer-button {
    width: 100%;
    /* Makes the button width responsive to the grid's column size */
    min-width: 80px;
    /* Set the minimum width for the button */
    height: 30px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
    /* Prevents text from wrapping */
}

.layer-button button {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    display: block;
    padding: 0;
    cursor: pointer;
    color: #000000;
    background-color: var(--button-color);
    border-top: 2px solid var(--border-light);
    border-left: 2px solid var(--border-light);
    border-right: 2px solid var(--border-dark);
    border-bottom: 2px solid var(--border-dark);
}

.layer-button button:active {
    border-top: 2px solid var(--border-dark);
    border-left: 2px solid var(--border-dark);
    border-right: 2px solid var(--border-light);
    border-bottom: 2px solid var(--border-light);
}

.layer-button button:hover {
    background-color: var(--button-hover-color);
    /* Hover effect for the button */
}

.layer-button button.active {
    background-color: #bbbbbb;
    /* Active color */
    color: 000000;
}

.layer-button button.inactive {
    background-color: var(--button-color);
    /* Inactive color */
    color: #000000;
}

.layer-button button:disabled {
    background-color: #ddd;
    /* Disabled color */
    color: #c0c0c0;
    pointer-events: none;
}