@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    /* Ensures padding and border are included in width */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will push the footer to the bottom */
    align-items: center;
    height: 100vh; /* Keep the overall height */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.footer {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #969696;
    font-size: clamp(10px, 1.8vw, 12px);
}

.footer a {
    text-decoration: none;
    font-weight: 500;
    color: #969696;
}

.header {
    font-size: clamp(24px, 5vw, 32px);
    margin: 20px 0;
    font-weight: 700;
}

.image-container {
    position: relative;
    width: 60%;
    max-width: 500px;
    max-height: 500px;
    margin: 20px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#sharedCanvas {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/* Modal */
.modal {
    display: none;
    position: absolute;
    z-index: 2; /* Higher than other elements in image-container */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fefefe;
    border-radius: 8px;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    width: 100%; /* Adjust width as needed */
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    position: relative; /* Needed for positioning the close button */
    height: 100%; /* Take full height of the modal */
    border-radius: 8px;
}
.close {
    color: #aaa;
    position: absolute; /* Positioning relative to modal-content */
    top: 8px; /* Distance from the top */
    right: 20px; /* Distance from the right */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

#viewOrdiScan, #downloadCat {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: 80%; /* Match width with modal content */
}


.cat-id-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.cat-id-container input {
    margin-right: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cat-id-container button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #9d82ff;
    color: white;
    cursor: pointer;
}

.cat-id-container button:hover {
    background-color: #754fff;
}

.layers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    width: 90%;
    max-width: 1000px;
    gap: 10px;
    padding-bottom: 20px;
    max-height: calc(100vh -
            /* Adjust based on other elements */
        );
    overflow-y: auto;
    /* Enable vertical scrolling */
    /* Ensure that the grid itself does not overflow horizontally */
    overflow-x: hidden;
}


.layer-button {
    width: 100%;
    /* Makes the button width responsive to the grid's column size */
    min-width: 80px;
    /* Set the minimum width for the button */
    height: 30px;
    background-color: #f1f1f1;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
    /* Prevents text from wrapping */
}

.layer-button button {
    width: 100%;
    /* Makes the button fill the container */
    height: 100%;
    /* Makes the button fill the container */
    background-color: transparent;
    /* Matches the outer div's background */
    border: none;
    /* Removes the border */
    border-radius: 4px;
    /* Optional: if you want to keep the rounded corners */
    display: block;
    /* Optional: stretches the button to fill the container */
    padding: 0;
    /* Removes padding */
    cursor: pointer;
    outline: none;
    /* Removes the outline */
}

.layer-button button:hover {
    background-color: #e0e0e0;
    /* Hover effect for the button */
}

.layer-button button.active {
    background-color: #9d82ff;
    /* Active color */
    color: white;
}

.layer-button button.inactive {
    background-color: #e0e0e0;
    /* Inactive color */
    color: black;
}

.layer-button button:disabled {
    background-color: #ddd;
    /* Disabled color */
    color: #aaa;
}